<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <div class="big_container">
    <div class="container1">
      <img class="adjustIMG" src="https://i.ibb.co/5cS2M82/usuario.png" alt="usuario">
      <!-- <div class="form-group" id="prim_div" style="color: white;">
        <label for="nickname" id="nickname">Apelido:</label>
        <input type="text" id="name_box" class="form-control">
      </div>
      <div class="form-group" id="seg_div" style="color: white;">
        <label for="bio" id="bio_pessoa">Bio:</label>
        <textarea rows="5" cols="3" class="form-control"></textarea>
      </div> -->
      <div>
        <label for="nickname" id="nickname">Nome: {{user.name}}</label>
      </div>
      <div>
        <label for="nickname" id="nickname">Sobrenome: {{user.surname}}</label>
      </div>
      <div>
        <label for="nickname" id="nickname">Telefone: {{user.phone}}</label>
      </div>
      <div>
        <label for="nickname" id="nickname">E-mail: {{user.email}}</label>
      </div>
      <div>
        <label for="nickname" id="nickname">Carro: {{user.car}}</label>
      </div>
      <div>
        <label for="nickname" id="nickname">Placa do carro: {{user.carPlate}}</label>
      </div>
    </div>
    <div class="container2">
      <h1 class="titulo">Horários</h1>
      <table class="horarios" border="3">
        <tr>
          <!-- para criar linhas -->
          <td width="150">
            <!-- para inserir dados  -->
            <label style="margin: 20%;">Dia / Hora</label>
          </td>
          <td height="50" width="70" align="center">
            <label>8h-10h</label>
          </td>
          <td height="50" width="80" align="center">
            <label>10h-12h</label>
          </td>
          <td height="50" width="120" align="center">
            <label>13h30-15h30</label>
          </td>
          <td height="50" width="120" align="center">
            <label>15h30-17h30</label>
          </td>
          <td height="50" width="80" align="center">
            <label>19h-21h</label>
          </td>
          <td height="50" width="80" align="center">
            <label>21h-23h</label>
          </td>
        </tr>
        <tr>
          <td height="80" align="center">
            <label style="margin: 20%;">Segunda</label>
          </td>
          <td align="center" height="80"></td>
          <td align="center" height="80"></td>
        </tr>
        <tr>
          <td height="80" align="center">
            <label style="margin: 20%;">Terça</label>
          </td>
        </tr>
        <tr>
          <td height="80" align="center">
            <label style="margin: 20%;">Quarta</label>
          </td>
        </tr>
        <tr>
          <td height="80" align="center">
            <label style="margin: 20%;">Quinta</label>
          </td>
        </tr>
        <tr>
          <td height="80" align="center">
            <label style="margin: 20%;">Sexta</label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container3" align="center">
    <button type="button" class="btn btn-success" id="botao_voltar" routerLink="/perfilPrivado">Editar perfil</button>
    <button type="button" class="btn btn-success" id="botao_voltar" routerLink="/calendario-edit">Editar
      calendario</button>
    <button type="button" class="btn btn-success" id="botao_voltar"><a href="{{ whatsapp }}" target='_blank'
        style="text-decoration:none; color:white">Conversar </a><i class="fa fa-whatsapp"></i></button>
    <button type="button" class="btn btn-success" id="botao_voltar" routerLink="/menu">Voltar</button>
  </div>
</body>