@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#0c302e ;
    color: white;
    background-image: linear-gradient(180deg, #0c302e, #275452);

}

i{
    color: white;
}

b{
    color: white;
}

.card {
    
    background-color: #0c302e;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0c302e;
    --bs-btn-border-color: #0c302e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #003b38;
    --bs-btn-hover-border-color: #003b38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #003b38;
    --bs-btn-active-border-color: #003b38;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0c302e;
    --bs-btn-disabled-border-color: #0c302e;
}
