<div class="col-md-8 mt-2">
  <h5 class="text-danger"> Student List</h5>
  <div class="card p-3 shadow">
      <div class="card-body">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">First name</th>
                  <th scope="col">Last name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ridenet of rideList">
                  <td >{{ridenet.uid}}</td>
                  <td>{{ridenet.id}}</td>
                  <td>{{ridenet.origin}}</td>
                  <td>{{ridenet.destiny}}</td>
                  <td>{{ridenet.price}}</td>
                  <td>{{ridenet.embark}}</td>
                  <td>{{ridenet.vacancy}}</td>
                

                  <td>

                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>