<div class=navbar>
  <button type="button" class="btn" routerLink="/">
    <img src="https://i.ibb.co/nskr9zy/Whats-App-Image-2022-09-25-at-16-41-03-removebg-preview.png"
      alt="Whats-App-Image-2022-09-25-at-16-41-03-removebg-preview">
  </button>
  <button style="margin-right: 3%;" (click)="logout()" *ngIf="loggedIn()"  >Log out</button>
  <!-- <button type="button" class="btn" routerLink="/perfilPrivado">
    <img class="adjustIMG" src="https://i.ibb.co/5cS2M82/usuario.png" alt="usuario">
  </button> -->
</div>