<div class="container">
  <div class="card" style="text-align: left;">
    <div class="card-body">
      <h5 class="card-title">
        <div class="row">
          <div class="col d-flex flex-row align-items-center">
            <b class="text-center">Carona - 10R$</b>
          </div>
          <div class="col d-flex flex-row-reverse">
            <i class="bi bi-person" style="font-size: 1.4rem;"></i>
            <b class="text-center">3/5</b>
          </div>
        </div>
      </h5>
      <p class="card-text">
        <b>• 18:00 Origem</b>
        <br>• 19:00 Destino 1
        <br>• 20:00 Destino 2
      </p>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col d-flex flex-row align-items-center">
          <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
          <b class="text-center" style="display: contents;">⠀Motorista ★4,5</b>
        </div>
        <div class="col d-flex flex-row-reverse">
          <a role="button">
            <i class="bi bi-lightning" style="font-size: 1.5rem;"></i>
          </a>
          <a role="button">
            <i class="bi bi-chat-left-text" style="font-size: 1.5rem;"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="btn-group-fab" role="group">
  <!-- <button type="button" class="btn btn-main btn-primary has-tooltip" title="Adicionar carona"> <i class="bi bi-plus" style="font-size: 2rem;"></i> </button> -->
</div> 
<div>
<button type="button" class="btn btn-success" routerLink="/origemDestino" 
  style="margin-left: 45%; margin-top: 2%" >Alterar busca</button>
</div>