<div class="sucess" *ngIf="showSucss">
  <div class="col-xs-12">
    <p class="alert alert-success">
      <strong>Registro salvo com sucesso!</strong>
    </p>
  </div>
</div>

<body>
  <div id="view-user-register" class="container">
    <h1> Cadastro de uma viagem</h1>
    <form id="register-form" [formGroup]="formGroup" (ngSubmit)="ngSubmit()" ngNativeValidate>
      <div style="color: white;">
        <label for="origin">Origem:</label>
        <input type="text" name="sector" id="origin" placeholder="Digite a origem da viagem" formControlName="origin" class="form-control" required>
      </div>
      <div style="color: white;">
        <label for="destiny">Destino:</label>
        <input type="text" name="sector" id="destiny" placeholder="Digite o destino da viagem" formControlName="destiny" class="form-control" required>
      </div>
      <div style="color: white;">
        <label for="price">Preço:</label>
        <input type="number" name="sector" id="price" placeholder="Digite o valor unitário" formControlName="price" class="form-control" required min="1">
      </div>
      <div style="color: white;">
        <label for="embark">Partida:</label>
        <input type="time" name="sector" id="embark" placeholder="Digite o horário de partida" formControlName="embark" class="form-control" required>
      </div>
      <div style="color: white;">
        <label for="vacancy">Vagas:</label>
        <input type="number" name="sector" id="vacancy" placeholder="Digite a quantidade de vagas de passageiros" formControlName="vacancy" class="form-control" required max="4" min="1">
      </div>
      <div>
        <label for="createTrip"></label>
        <p class="tab">
        </p>
        <input type="submit" id="createTrip" class="btn btn-success" value="Criar carona">
      </div>
    </form>
  </div>
</body>
