<div class="container">
    <h1 class="fbText">FÓRUM</h1>
    <h2 class="welcomeText">ihdbcihs, o que acha de nos contar o que está achando do aplicativo? Deixe sua avaliação abaixo.</h2>
    <h3 class="titleComment">Comentários:</h3>
    <div class="card p-3 shadow" id="first">
        <div class="card-body">
        </div>
    </div>  
    <div class="card p-3 shadow" id="sec">
        <div class="card-body">
        </div>
    </div>
    <div class="card p-3 shadow" id=third>
        <div class="card-body">
        </div>
    </div>
    <div class="bt">
        <button type="button" class="btn btn-success">Adicionar</button>
    </div>
</div>
