<div class="container">
    <div>
        <button type="button" class="btn btn-success" routerLink="/perfilPublico">Meu perfil</button>
    </div> &nbsp;
    <div>
        <button [disabled]="true" type="button" class="btn btn-success" routerLink="/menu">Conversas WIP</button>
    </div> &nbsp;
    <div>
        <button [disabled]="true" type="button" class="btn btn-success" routerLink="/menu">Histórico WIP</button>
    </div> &nbsp;
    <div>
        <button  type="button" class="btn btn-success" routerLink="/origemDestino">Buscar carona</button>
    </div> &nbsp;
    <div>
        <button type="button" class="btn btn-success" routerLink="/registrarCarona">Ofertar carona</button>
    </div>
</div>