<div class="containerIMG">
    <img class="adjustIMG" src="https://i.ibb.co/5cS2M82/usuario.png" alt="usuario">
</div>
<div class="container">
    <form>
        <div class="container1">
            <div >
                <div class="form-group" style="color: white;">
                    <label for="email">Email:</label>
                    <input type="email"  class="form-control" name="email" [(ngModel)] = "email" required
                        pattern="([a-zA-Z0-9]|\.|_\-)+@unifesp\.br" >
                    <span class="help-block" style="color: red;">Insira um email da Unifesp!</span>
                </div>
            </div>
            <div class="form-group" style="color: white;">
                <label for="password">Senha:</label>
                <input type="text"  class="form-control"  name="password2" [(ngModel)]="password2" required>
            </div>
            <!--<div class="form-group" style="color: white;">
                <label for="password">Confirme a senha:</label>
                <input type="text" id="password3" class="form-control" ngModel name="password3" required>

            </div>-->
        </div>
        
        <button type="button" style="margin-top: 5%;" class="btn btn-info" (click)="login()">Login</button>
        <div class="row" >
            <div class="col-md-6">
                <a href="/register" style = "text-decoration: none;">Precisa de uma conta ? <span class="text-danger"> Cadastre-se </span></a>
            </div>
        </div>
    </form>
</div>


