<div class="containerIMG">
    <img class="adjustIMG" src="https://i.ibb.co/5cS2M82/usuario.png" alt="usuario">
</div>
<div class="container">
    <form>
        <div class="container1">
            <div>
                <div class="form-group" style="color: white;">
                    <label for="email">Email:</label>
                    <input type="email"  class="form-control"  name="email" [(ngModel)] = "email" required
                        pattern="([a-zA-Z0-9]|\.|_\-)+@unifesp\.br" email #email="ngModel">
                    <span class="help-block" style="color: red;" *ngIf="!email.valid && email.touched">Insira um email da Unifesp!</span>
                </div>
            </div>
            <div class="form-group" style="color: white;">
                <label for="password">Senha:</label>
                <input type="text"  class="form-control"  name="password2" [(ngModel)] = "password2" required>
            </div>
            <!--<div class="form-group" style="color: white;">
                <label for="password">Confirme a senha:</label>
                <input type="text" id="password3" class="form-control" ngModel name="password3" required>

            </div>-->
        </div>
        
        <button type="button" style="margin-top: 5%;" class="btn btn-info" (click)="cadastro()">Cadastre-se</button>
        <div class="row" >
            <div class="col-md-6">
                <a href="/register" style = "text-decoration: none;">Precisa de uma conta ? <span class="text-danger"> Cadastre-se </span></a>
            </div>
        </div>
    </form>
</div>
<!--<div class="container2">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group" style="color: white;">
            <label for="user_name">Nome:</label>
            <input type="text" id="user_name" class="form-control" ngModel name="user_name" required>
        </div>
        <div class="form-group" style="color: white;">
            <label for="user_lastname">Sobrenome:</label>
            <input type="text" id="user_lastname" class="form-control" ngModel name="user_lastname" required>
        </div>
        <div class="form-group" style="color: white;">
            <label for="tel">Telefone:</label>
            <input type="text" id="tel" class="form-control" ngModel name="tel" required pattern="([0-9]{2})[0-9]{9}" tel #telefone="ngModel">
            <span class="help-block" style="color: red;" *ngIf="telefone.valid" >telefone incorreto!</span>
        </div>
    </form>
</div> Pessoal estou deixando isso comentando pois o firebase só cadastra com email e senha, vou tentar
incluir isso depois ok? ---> 