<div class="container">
    <h1 class="cText">CHAT</h1>
    <h2 class="clickText">Clique no botão abaixo para ser direcionado para o chat do seu motorista!</h2>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="bt">
        <button type="button" class="btn btn-success">
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5512998062003" target="_blank">Whatsapp <i class="fa fa-whatsapp"></i></a>
        </button>
    </div>
</div>




