<body>
    <div class="container">
        <img class="adjustIMG" src="https://i.ibb.co/5cS2M82/usuario.png" alt="usuario">
        <form>
            <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                <div class="form-group" style="color: white;">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control"  name="email" [(ngModel)]="email" required
                        pattern="([a-zA-Z0-9]|\.|_\-)+@unifesp\.br" >
                    <!-- <span class="help-block" style="color: red;">Insira um email
                        da Unifesp!</span> -->
                </div>
            </div>
            <div class="form-group" id="idSenha" style="color: white;">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" placehold="Password"  name="senha" [(ngModel)]="senha">
                <!-- <form>    
                    <input type="password" class="form-control" placehold="Password"  name="senha" [(ngModel)]="senha">  
                    <input (change)="showPassword($event)" type="checkbox" class="form-check-input-message">Mostrar senha
                </form> -->
            </div>
            <div class="buttonsLogin">
                <a routerLink="/esquecer-senha">Esqueci minha senha</a>
                <button class="btn btn-success" id="botao_entrar" type="submit" (click) = "login()">Entrar</button>
                <!-- <button type="button" class="btn btn-success" id="botao_voltar" routerLink="/menu">Esqueci minha senha</button> -->
            </div>
            
        </form>
    </div>
</body>