.container {
    text-align: center;
    margin-top: 3%;
    width: 30%;
}

.adjustIMG {
    width: 60%;
    margin-bottom: 8%;
    filter:invert(100%);
}

.form-check-input-message{
    margin-left: -67%;
    margin-top: 10px;
}

#botao_entrar{
    margin-top: 2%;
}

#idSenha{
    margin-top: 2%;
}

.buttonsLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;   /*coloca no centro do que foi definido acima (linha)*/
    align-items: center;
    margin-top: 2%;
}

a{
    text-decoration: none;
    color: aliceblue;
}