
.caronasP1 {
    font-size:20px;
    font-family:Arial;
    width:280px;
    height:100px;
    color:#fff;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background:#0C302E;
    margin-left: 40%;
    margin-top: 60%;
    border-width:0px;
  }
  
  .caronasP1:hover {
    background: #0f3a38;
  }


  
.caronasP2 {
    font-size:20px;
    font-family:Arial;
    width:280px;
    height:100px;
    color:#fff;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background:#0C302E;
    margin-left:40%;
    margin-top:60%;
    border-width:0px;

  }
  
  .caronasP2:hover {
    background: #0f3a38;
}

.adjustIMG {
    width: 6%;
    filter:invert(100%);
    margin-top: -56%;
    margin-left: 30%;
}
