<div>
    <div style="text-align: center;"><img src="https://i.ibb.co/tJW9X7W/home-removebg-preview.png">
        <button type="button" class="btn btn-success" routerLink="/login" style="height: 120px; width: 116px; margin-top: -305px; margin-left: -222px; margin-right: 15px;">Login</button>
        <button type="button" class="btn btn-success" routerLink="/cadastrar" style="height: 120px; width: 119px; margin-bottom: 3px; margin-top: 300px; margin-left: -132px; margin-right: 15px">Cadastrar</button>
    </div>
</div>